<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title></title>
    <style>
        td {
            border: black 1px solid;
        }
    </style>
</head>
<body>
<h1>工资条</h1>
<table th:if="${salary} != null" class="imagetable table_define">

    <thead>
    <tr style="background-clip: border-box">
        <td>姓名</td>
        <td>账户</td>
        <td>邮箱</td>
    </tr>
    </thead>
    <tbody th:with="appName = ${role.roleName}">
    <tr>
        <td class="main-td_center" th:text="${appName}"></td>
        <td class="main-td_center" th:text="${role.rolePhone}"></td>
        <td class="main-td_center" th:text="${role.roleEmail}"></td>
    </tr>
    </tbody>

    <thead>
    <tr>
        <td>实际所得</td>
        <td>基础工资</td>
        <td>备注事项</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${salary.salaTakepay}"></td>
        <td th:text="${salary.salaBasemoney}"></td>
        <td>
            <textarea th:text="${salary.salaBz}" class="area" rows="4" cols="12" readonly></textarea>
        </td>
    </tr>
    </tbody>
</table>


<table style="border: black 1px solid;width: 750px">




    <thead>
    <td>月份</td>
    <td>手机号</td>
    <td>姓名</td>
    <td>基本工资</td>
<!--    <td>在职天数</td>-->
    <td>奖金</td>
 <!--   <td>社保</td>
    <td>个税</td>-->
    <td>实际工资</td>
    </thead>
    <tbody>
    <tr>
        <td th:text="${salary}">
      <!--  <td>${salary.salaDate}}</td>
        <td>${salary.salaId}</td>
        <td>${salary.role_name}</td>
        <td>${salary.salaBasemoney}</td>
&lt;!&ndash;        <td>${salary.inDays}</td>&ndash;&gt;
        <td>${salary.salaBenfit}</td>
        &lt;!&ndash;<td>${salary.socialSecurity}</td>
        <td>${salary.tax}</td>&ndash;&gt;
        <td>${salary.salaTakepay}</td>-->
    </tr>
    </tbody>
    <p><img src="cid:qr" alt=""></p>

</table>
</body>
</html>