<?xml version="1.0" encoding="GBK"?>
<configuration>

 <!--按时间戳
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
   <file>log-${bySecond}.txt</file>
   <encoder>
    <pattern>%logger{35} - %msg%n</pattern>
   </encoder>
  </appender>-->

 <property name="log.path" value="D:\log" />
 <!--%thread  %highlight([%-5level])   method,%line-->
 <property name="log.pattern" value="%thread [%-5level]  %d{yyyy-MM-dd HH:mm:ss.SSS}  %logger{20} - %method %line - %msg%n" />
 <!--日志级别以及优先级排序: OFF > FATAL > ERROR > WARN > INFO > DEBUG > TRACE > ALL -->
 <!-- <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />-->

 <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
  <encoder>
   <pattern>[%-5level] %yellow(%d{yyyy-MM-dd HH:mm:ss.SSS}) %green(%logger{20}) - %highlight(%method,%line) - %msg%n</pattern>
   <charset>GBK</charset>
  </encoder>
 </appender>

 <appender name="testlog" class="ch.qos.logback.core.FileAppender">
  <file>${log.path}\testFile.log</file>
  <append>true</append>
  <encoder>
   <pattern>${log.pattern}</pattern>
   <charset>GBK</charset>
  </encoder>
 </appender>


 <appender name="file_info" class="ch.qos.logback.core.rolling.RollingFileAppender">
  <file>D:log\AllLog.log</file>
  <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
   <!-- rollover daily   ${log.path}/  -->
    <fileNamePattern>${log.path}/%d{yyyy-MM-dd}/AllLog.%i.log</fileNamePattern>
    <!-- each file should be at most 100MB, keep 60 days worth of history, but at most 20GB -->
    <maxFileSize>1 MB</maxFileSize>
    <maxHistory>30</maxHistory>
    <totalSizeCap>200 MB</totalSizeCap>
  </rollingPolicy>
  <encoder>
   <pattern>${log.pattern}</pattern>
   <charset>GBK</charset>
  </encoder>
 </appender>


 <logger name="com.example.test.dao.RoleMapper">
  <level value="trace"/>
 </logger>
 <logger name="com.example.test.dao">
  <level value="DEBUG"/>
 </logger>

 <root level="info">
  <appender-ref ref="console" />
<!--  <appender-ref ref="testlog" />-->
  <appender-ref ref="file_info" />

 </root>


<!-- <logger name="com.example" level="info">
  <appender-ref ref="glbAppender"/>
 </logger>-->

</configuration>