body{
    font-family: sans-serif;
    background-image: url(../../images/bg.jpg);
    background-repeat:  no-repeat 60% 0;
    /* 溢出隐藏 */
    overflow: inherit;
    background-size: cover;
    -moz-background-size: cover;
    background-size: cover;

}
.inpu{
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    width: 35px;
    margin-right: 25px;


}
.container{
    width: 380px;
    margin: 7% auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    /* 阴影部分 */
    box-shadow: 0 0 17px #333;
}

label.lab-fail {
    font-size: xx-large;
    font-style: italic;
    font-weight: 800;
    font-family: fangsong;
    background: bisque;
    color: crimson;
}
.header{
    text-align: center;
    padding-top: 75px;
}
.alert {
    border-block-color: inherit;
    font-size: large;
    color: red;
}
.header h1{
    color: #333;
    font-size: 45px;
    margin-bottom: 80px;
}
.main{
    text-align: center;
}

.main input,button{
    width: 300px;
    height: 40px;
    /* 边框消失 */
    border: none;
    /* 选中的时候的边框提醒去掉 */
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}

.main button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
}

.main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #7799d4;
}
.main input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}

.main span{
    /* 相对定位 */
    position: relative;
}

.main i{
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
}
.bj-self-adaption {
    height: 900px;
    background-size: cover;
    background-position: center 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
}

.panda {
    position: relative;
    width: 200px;
    margin: 50px auto;
}
.remm {
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    margin-top: 0px;
    width: 35px;
    margin-right: 25px;
}
.alert:after,
.alert:before{
    background: #A60000;
    size: legal;
    text-align: center;
    /*background-color: rgba(0, 0, 0, 0.1);*/
    /* 阴影部分 */
}